body{
    background-color: #30336b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
*{
    font-family: sans-serif;
    box-sizing: border-box;

}
form{
    width: 500px;
    border: 2px solid #192a56;
    padding: 30px;
    background-color:#dcdde1;
    border-radius: 15px;
}
h2{
    text-align: center;
    margin-bottom: 40px;

}
input{
    display: block;
    border: 2px solid #7f8fa6;
    width:95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
label{
    color: #130f40;
    font-size: 18px;
    padding:10px;

}
button{
    font-size: 15px;font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-left: 35%;
    margin-top: 30px;
    width: 120px;
    background-color: #dcdde1;
    padding: 10px 15px;
    color: #192a56;
    border-radius: 5px;

}
button:hover{
    background-color: #f5f6fa;
}
#kod{

    margin-left: 65px;
}
.error{
    background-color: wheat;
    color: darkred;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}
form.error-msg{
    margin: 10px 0 ;
    display: block;
    background-color: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}